@{
    ViewData["Title"] = "Index";
}
@model List<CategoryDto>
<h1 class="text-center">Category List</h1>
<a class="btn btn-success btn-sm" asp-action="Save" asp-controller="News">Save a news to the list at below</a>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td><a asp-controller="News" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Update</a></td>
            </tr>
        }
    </tbody>
</table>

