@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Burak News Haber Ajansına Hoş Geldiniz</h1>
    <div>
        <p>Haberleri görüntülemek için <a asp-action="Index" asp-controller="News">tıklayınız</a>.</p>
    </div>
</div>
