
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center border-bottom-3">Admin Paneli</h1>

<div class="container">
    <a class="btn btn-primary" asp-action="CreateUser" asp-controller="Admin">Kullanıcı Oluştur</a>
    <a class="btn btn-primary" asp-action="GetAllUsers" asp-controller="Admin">Kullanıcıları Listele</a>
    <a class="btn btn-primary" asp-action="CreateRole" asp-controller="Admin">Rol Oluştur</a>
    <a class="btn btn-primary" asp-action="GetAllRoleList" asp-controller="Admin">Rolleri Listele</a>
</div>